# API URLs
VITE_ORDERS_API_URL=https://freelunch-orders-stg.juliocaicedo.com
VITE_KITCHEN_API_URL=https://freelunch-kitchen-stg.juliocaicedo.com
VITE_WAREHOUSE_API_URL=https://freelunch-warehouse-stg.juliocaicedo.com

# Vercel Protection Bypass (only for preview environments)
VITE_VERCEL_PROTECTION_BYPASS=
